<!-- 회원목록을 보여주는 페이지 -->

{% extends "templates/main_template.html"%}
{% block title %}
Member List
{% endblock %}

{% block main_container %}
<form>
  <!-- 검색 항목 추가 필요 -->
  <div class="row">
    <div class="col-2">
      <select class="form-select" name="key_name">
        <option value="TITLE" {{ 'selected' if request.query_params.key_name=='TITLE' else '' }}>title</option>
        <option value="DATE" {{ 'selected' if request.query_params.key_name=='DATE' else '' }}>date</option>
        <option value="CONTENTS" {{ 'selected' if request.query_params.key_name=='CONTENTS' else '' }}>contents</option>
      </select>
    </div>
    <div class="col-6">
      <input class="form-control" placeholder="Enter Search!" name="word" value="{{request.query_params.word}}">
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-primary" formaction="/news_yahoo/list" formmethod="get">
        Search <span class="badge bg-success" id="">{{pagination.total_records}}</span>
      </button>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>NO.</th>
        <th>TITLE</th>
        <th>DATE</th>
        <th>CONTENTS</th>
        <th>NEWS_URL</th>
        <th>CREATE_AT</th>
      </tr>
    </thead>
    <tbody>
      {% for user in news_yahoo_list %}
      <tr>
        <td>{{pagination.start_record_number + loop.index}}</td>
        <td>
          <a href="/news_yahoo/read/{{user.id}}" class="text-decoration-none">{{user.TITLE}}</a>
        </td>
        <td>{{user.DATE}}</td>
        <td>{{user.CONTENTS}}</td>
        <td><a href="{{user.NEWS_URL}}" target="_blank">Link</a></td>
        <td>{{user.CREATED_AT.strftime('%Y.%m.%d %H:%M')}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
  {% block paginations_container %}
  {% include 'templates/pagination_template.html' %}
</form>
{% endblock %}