{% extends "templates/main_template.html"%}
{% block title %}
Member List
{% endblock %}

{% block main_container %}
<form>
  <!-- 검색 항목 추가 필요 -->
  <div class="row">
    <div class="col-2">
      <select class="form-select" name="key_name">
        <option value="name" {{ 'selected' if request._query_params.key_name=='name' else '' }}>name</option>
        <option value="email" {{ 'selected' if request._query_params.key_name=='email' else '' }}>email</option>
      </select>
    </div>
    <div class="col-6">
      <input class="form-control" placeholder="Enter Search!" name="word" value="{{request._query_params.word}}">
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-primary" formaction="/stockprice/list" formmethod="get">
        Search <span class="badge bg-success" id="">{{pagination.total_records}}</span>
      </button>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>No.</th>
        <th>Symbol</th>
        <th>Date</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Volume</th>
        <th>Dividends</th>
        <th>Stock splits</th>
        <th>Create Date</th>
      </tr>
    </thead>
    <tbody>
      {% for stockprice in stockprices %}
      <tr>
        <td>{{pagination.start_record_number + loop.index}}</td>
        <td>
          <a href="/stockprice/read/{{stockprice.SYMBOL}}" class="text-decoration-none">{{stockprice.SYMBOL}}</a>
        </td>
        <td>{{stockprice.DATE}}</td>
        <td>{{ '%.3f' | format(stockprice.OPEN) }}</td>
        <td>{{ '%.3f' | format(stockprice.HIGH) }}</td>
        <td>{{ '%.3f' | format(stockprice.LOW) }}</td>
        <td>{{ '%.3f' | format(stockprice.CLOSE) }}</td>
        <td>{{stockprice.VOLUME}}</td>
        <td>{{stockprice.DIVIDENDS}}</td>
        <td>{{stockprice.STOCKSPLITS}}</td>
        <td>{{stockprice.CREATED_AT}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
  {% block paginations_container %}
  {% include 'templates/pagination_template.html' %}
</form>
{% endblock %}