{% set main_router = request.url.path.split('/')[1] %}
{% set action_type = 'list' if 'list' in request.url.path else 'read' %}
{% set object_id = request.path_params.get('object_id', '') %}
<!-- paginations -->
<div>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item {{ '' if pagination.has_previous_block else 'disabled' }}">
          <button type="submit" class="page-link" 
            formaction="/{{main_router}}/{{action_type}}/{{ object_id + '/' if object_id else '' }}{{pagination.first_page}}">
            First
          </button>
        </li>
        <li class="page-item {{ '' if pagination.has_previous_page else 'disabled' }}">
          <button type="submit" class="page-link"
            formaction="/{{main_router}}/{{action_type}}/{{ object_id + '/' if object_id else '' }}{{pagination.previous_page}}">Prev</button>
        </li>
        {% for page_num in pagination.current_page_range %}
        <li class="page-item {{ 'active' if page_num == pagination.current_page else '' }}">
          <button type="{{ 'button' if page_num == pagination.current_page else 'submit' }}" class="page-link" 
            formaction="/{{main_router}}/{{action_type}}/{{ object_id + '/' if object_id else '' }}{{ page_num }}"> 
            {{page_num}}
          </button>
        </li>
        {% endfor %}
        <li class="page-item {{ '' if pagination.has_next_page else 'disabled' }}">
          <button type="submit" class="page-link"
            formaction="/{{main_router}}/{{action_type}}/{{ object_id + '/' if object_id else '' }}{{ pagination.next_page }}">Next</button>
        </li>
        <li class="page-item {{ '' if pagination.has_next_block else 'disabled' }}">
          <button type="submit" class="page-link"
            formaction="/{{main_router}}/{{action_type}}/{{ object_id + '/' if object_id else '' }}{{ pagination.last_page }}">
            Last
          </button>
        </li>
    </ul>
  </nav>
</div>